.p-status-label > a, 
.p-status-label--positive > a, 
.p-status-label--caution > a, 
.p-status-label--negative > a {
    color: white;
}

.release a, .release a:visited {
    font-weight: 400;
    color: #222;
}

a.repo-name {
    color: #222;
    font-weight: 400;
}

[role=modal-open] {
    margin-right: 5px;
}