<head>
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Site.Title }}" />
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta itemprop="description" content="{{ .Site.Params.description }}" />
  <meta property="og:image" content="https://assets.ubuntu.com/v1/eeb4c506-Canonical-Juju-logo-2022.svg">
  <meta property="og:image:width" content="1660">
  <meta property="og:image:height" content="1000">
  <meta property="og:image:alt" content="Canonical Juju banner">
  <link href="https://juju.is/static/favicon.png" rel="shortcut icon" />
  <style>
    {{- partial "css/vanilla.css" . | safeCSS -}}
    {{- partial "css/overrides.css" . | safeCSS -}}
  </style>
</head>
