<head>
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Site.Title }}" />
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta
    content="https://assets.ubuntu.com/v1/9864667f-apple-touch-icon-144x144-precomposed.png"
    itemprop="logo"
  />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta itemprop="description" content="{{ .Site.Params.description }}" />

  <link href="https://assets.ubuntu.com/v1/0843d517-favicon.ico" rel="shortcut icon" />
  <link
    href="https://assets.ubuntu.com/v1/9864667f-apple-touch-icon-144x144-precomposed.png"
    rel="apple-touch-icon"
  />
  <link
    href="https://assets.ubuntu.com/v1/9864667f-apple-touch-icon-144x144-precomposed.png"
    rel="icon"
    sizes="256x256"
  />
  <style>
    {{- partial "css/vanilla.css" . | safeCSS -}}
    {{- partial "css/overrides.css" . | safeCSS -}}
  </style>
</head>
